body {
    background-color: #6c8190;
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    min-height: 10vh;
}

.container {
    display: grid;
    gap: 10px;
    background-color: #212e38;
    opacity: 0.8;
    border-radius: 0.5rem;
    width: 700px;
    max-width: 90%;
    padding: 25px;
}

.correct {
    color: #55ad32
}

.active-correct {
    color: #63c73c
}
.active-incorrect {
    color: #c54747
}
.active-pending {
    color: #b3b3b3
}
.pending {
    color: rgb(136, 136, 136)
}